$ cat .gitignore
# exe, pdb files
*.exe
*.pdb

# version
StrengthReport/VersionControl_VB/bin/Debug/*.*
StrengthReport/VersionControl_VB/obj/Debug/*.*

# utility
StrengthReport/SReport_Utility/bin/Debug/*.*
StrengthReport/SReport_Utility/obj/Debug/*.*

# dbReader
StrengthReport/DbReader/bin/Debug/*.*
StrengthReport/DbReader/obj/Debug/*.*

# the main project
StrengthReport/StrengthReport/obj/Debug/*.*

#ignore python compiled files
setup_python_script/__pycache__/
